.BlogButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}